
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.main{
    width: 100%;
    background-image: url(images/Group.png);
    background-color: #FF7979;
}

.title{
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
.title p {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
   
}

.futter_container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
}

.blue_Card{
    color: #FFF;
    background-color: #5E54A4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
   
    
}

.whiteCard{
    padding-top: 60px;
    padding-bottom: 30px;

}
.inputCoontainer{ 
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 30px;
    gap: 16px;
    border-radius: 20px;
    
}
.input{
    height: 50px;
    color: #3D3B48;
    font-weight: 600;
    border: 1.5px solid #DEDEDE;
    border-radius: 5px;
    padding-left: 10px;
    
  
}
.button{
    height: 50px;
    color: #FFF;
    background-color: #38CC8B;
   border-top: none;
   border-left: none;
   border-right: none;
    border-bottom: 4px solid  #219462;
    border-radius: 10px;
    font-weight: 600;
   
}
.p{
    color: #BAB7D4;
    text-align: center;
    font-size: 12px;
}
.p b{
    color: #FF7979;
}

.erorText{
    font-size: 12px;
   display: flex;
   justify-content: end;
   color: #FF7979;
   display: none;
   margin: -10px 0 0;
   
}

#input_3::placeholder {
    color: var(--placeholder-color,  gray);
  }

@media (width >= 1440px) {

    .main{
        display: flex;
        flex-direction: row;
        height: 100vh;
        
    }
    .title{
        /* padding-right: 500px;*/
        padding-left: 150px; 
        justify-content: center;
   
          text-align: start;
    }
    .title h1{
        font-size: 50px;
        width: 580px;
    }
    .title p{
        width: 580px;
    }



    .blue_Card{
        width: 540px;
        height: 60px;
        border-radius: 5px;
    }

    .futter_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input{
        width:460px ;
        height: 56px;
    }
    .button{
        width:460px ;
        height: 56px;
    }
    .inputCoontainer{
        border-radius: 10px;
        padding: 50px;
    
       
        
    }
    
}